In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
nighttime_lights = pd.read_csv('../model/nightlights_br.csv')
nighttime_lights

                lat       long  radiance
0          5.999999 -73.999999  0.254636
1          5.999999 -73.995832  0.164480
2          5.999999 -73.991666  0.214884
3          5.999999 -73.987499  0.226339
4          5.999999 -73.983332  0.252898
...             ...        ...       ...
94463995 -33.995834 -33.020832  0.188706
94463996 -33.995834 -33.016665  0.221544
94463997 -33.995834 -33.012499  0.211587
94463998 -33.995834 -33.008332  0.206716
94463999 -33.995834 -33.004165  0.184055

[94464000 rows x 3 columns]

In [3]:
shapefile_br = gpd.read_file('../input/shapes/BR_Municipios_2021/BR_Municipios_2021.shp')
shapefile_br

,CD_MUN,NM_MUN,SIGLA,AREA_KM2,geometry
0,1100015,Alta Floresta D'Oeste,RO,7067.127,"POLYGON ((-62.19465 -11.82746, -62.19332 -11.8..."
1,1100023,Ariquemes,RO,4426.571,"POLYGON ((-62.53648 -9.73222, -62.52765 -9.736..."
2,1100031,Cabixi,RO,1314.352,"POLYGON ((-60.37119 -13.36655, -60.37134 -13.3..."
3,1100049,Cacoal,RO,3793.000,"POLYGON ((-61.00080 -11.29737, -61.00103 -11.3..."
4,1100056,Cerejeiras,RO,2783.300,"POLYGON ((-61.49976 -13.00525, -61.49809 -13.0..."
...,...,...,...,...,...
5567,5222005,Vianópolis,GO,954.115,"POLYGON ((-48.42801 -16.62789, -48.42803 -16.6..."
5568,5222054,Vicentinópolis,GO,733.794,"POLYGON ((-49.84740 -17.57796, -49.84719 -17.5..."
5569,5222203,Vila Boa,GO,1052.593,"POLYGON ((-47.10998 -14.67195, -47.10994 -14.6..."
5570,5222302,Vila Propício,GO,2181.593,"POLYGON ((-48.75572 -14.86393, -48.75502 -14.8..."
5571,5300108,Brasília,DF,5760.784,"POLYGON ((-47.41734 -15.54655, -47.41720 -15.5..."

In [4]:
gdf = gpd.GeoDataFrame(
      nighttime_lights, geometry=gpd.points_from_xy(nighttime_lights.long, nighttime_lights.lat))
gdf

                lat       long  radiance                     geometry
0          5.999999 -73.999999  0.254636    POINT (-74.00000 6.00000)
1          5.999999 -73.995832  0.164480    POINT (-73.99583 6.00000)
2          5.999999 -73.991666  0.214884    POINT (-73.99167 6.00000)
3          5.999999 -73.987499  0.226339    POINT (-73.98750 6.00000)
4          5.999999 -73.983332  0.252898    POINT (-73.98333 6.00000)
...             ...        ...       ...                          ...
94463995 -33.995834 -33.020832  0.188706  POINT (-33.02083 -33.99583)
94463996 -33.995834 -33.016665  0.221544  POINT (-33.01667 -33.99583)
94463997 -33.995834 -33.012499  0.211587  POINT (-33.01250 -33.99583)
94463998 -33.995834 -33.008332  0.206716  POINT (-33.00833 -33.99583)
94463999 -33.995834 -33.004165  0.184055  POINT (-33.00417 -33.99583)

[94464000 rows x 4 columns]

In [5]:
points_in_polygons_gdf = gpd.sjoin(gdf, shapefile_br, predicate='within', how='inner')
points_in_polygons_gdf

C:\Users\Pedro\AppData\Local\Temp\ipykernel_5064\1407994055.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4674

  points_in_polygons_gdf = gpd.sjoin(gdf, shapefile_br, predicate='within', how='inner')

,lat,long,radiance,geometry,index_right,CD_MUN,NM_MUN,SIGLA,AREA_KM2
1725309,5.270833,-60.212499,0.277005,POINT (-60.21250 5.27083),150,1400704,Uiramutã,RR,8113.598
1735147,5.266666,-60.220832,0.278689,POINT (-60.22083 5.26667),150,1400704,Uiramutã,RR,8113.598
1735148,5.266666,-60.216666,0.305580,POINT (-60.21667 5.26667),150,1400704,Uiramutã,RR,8113.598
1735149,5.266666,-60.212499,0.278038,POINT (-60.21250 5.26667),150,1400704,Uiramutã,RR,8113.598
1735150,5.266666,-60.208332,0.315737,POINT (-60.20833 5.26667),150,1400704,Uiramutã,RR,8113.598
...,...,...,...,...,...,...,...,...,...
93849017,-33.737501,-53.429166,0.374882,POINT (-53.42917 -33.73750),4714,4305439,Chuí,RS,202.387
93849018,-33.737501,-53.424999,0.399037,POINT (-53.42500 -33.73750),4714,4305439,Chuí,RS,202.387
93849019,-33.737501,-53.420832,0.416033,POINT (-53.42083 -33.73750),4714,4305439,Chuí,RS,202.387
93849020,-33.737501,-53.416666,0.410015,POINT (-53.41667 -33.73750),4714,4305439,Chuí,RS,202.387
93858859,-33.741668,-53.420832,0.390625,POINT (-53.42083 -33.74167),4714,4305439,Chuí,RS,202.387

In [11]:
points_in_polygons_gdf.sort_values(by="radiance")

,lat,long,radiance,geometry,index_right,GEOCODIG_M,NOME,SEDE,AREA,PERIMETRO,LATITUDESE,LONGITUDES
10688636,-12.108333,-54.025001,3,POINT (-54.02500 -12.10833),5220,5103700,Feliz Natal,0,11448.005,926.077,-12.386,-54.920
9723210,-10.475000,-63.241667,3,POINT (-63.24167 -10.47500),39,1101401,Monte Negro,0,1931.378,260.526,-10.246,-63.290
4664883,-1.908333,-67.966667,3,POINT (-67.96667 -1.90833),105,1302108,Japurá,0,55791.937,1667.455,-1.826,-66.599
8296010,-8.058333,-66.575000,3,POINT (-66.57500 -8.05833),108,1302405,Lábrea,0,68233.807,1724.776,-7.259,-64.798
16941776,-22.700000,-55.525000,3,POINT (-55.52500 -22.70000),5160,5006606,Ponta Porã,0,5328.554,888.783,-22.536,-55.726
...,...,...,...,...,...,...,...,...,...,...,...,...
12764617,-15.625000,-56.183334,63,POINT (-56.18333 -15.62500),5312,5108402,Várzea Grande,0,938.019,185.812,-15.647,-56.133
21276823,-30.041666,-51.133334,63,POINT (-51.13333 -30.04167),4928,4314902,Porto Alegre,0,496.827,172.289,-30.033,-51.230
5829545,-3.875000,-38.450001,63,POINT (-38.45000 -3.87500),944,2304285,Eusébio,0,76.584,47.197,-3.890,-38.451
12759699,-15.616666,-56.166667,63,POINT (-56.16667 -15.61667),5312,5108402,Várzea Grande,0,938.019,185.812,-15.647,-56.133
7729096,-7.091666,-34.858334,63,POINT (-34.85833 -7.09167),1281,2503209,Cabedelo,1,25.358,36.227,-6.981,-34.834

:

In [6]:
points_in_polygons_gdf.to_csv('../model/nightlights_per_city.csv', index=False)